@for $var from 1 to 11 {
    .m#{$var}{
        margin: #{$var}px;
    }
}


@for $var from 1 to 11 {
    .mt#{$var}{
        margin-top: #{$var}px;
    }
}

@for $var from 1 to 11 {
    .mr#{$var}{
        margin-right: #{$var}px;
    }
}

@for $var from 1 to 11 {
    .mb#{$var}{
        margin-bottom: #{$var}px;
    }
}

@for $var from 1 to 11 {
    .ml#{$var}{
        margin-left: #{$var}px;
    }
}