.title{
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 32px;

    &-success{
        color: $success;
    }

    &-fail{
        color: $fail;
    }

    &-warning{
        color: $warning;
    }

    &-primary{
        color: $primary;
    }
}