@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $dark;
}